.app {
    height: 100vh;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .btns{
      background-color: #fff;
      display: flex;
      align-self: center;
      height: 50vh;
      flex-direction: row;
      border-radius: 30px;
  }
  .svg1 img {
    height: 700px;
    width: 700px;
    background: transparent;
  }
  .vl {
    border-left: 6px solid #81B0B6;
    height: 300px;
    align-self: center;
  }
  .book-btn, .query-btn{
    align-self: center;
    height: 200px;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    margin-right: 30px;
  }
  .book-btn button, .query-btn button {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    width: 350px;
    border: none;
    padding: 10px;
    background: #7c99ac;
    margin-bottom: 20px;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    border-radius: 50px;
    margin-right: 50px;
  }
  .book-btn button:hover,
  .book-btn button:active, .query-btn button:hover, .query-btn button:active{
    background: transparent;
    color: #7c99ac;
    transform: scaleX(1.1);
    border: 3px solid #7c99ac;
  }
  .book-btn h3, .query-btn h3{
    font-size: 25px;
    font-weight: 600;
    color: #1A374D;
    font-family: "Karla", sans-serif;
  
  }